body {
    background-color: ghostwhite;
    opacity: 1;
    /* Not necessary but let's me play test different options*/
    max-width: 60em;
    margin: 0 auto 0 auto;
}

table,
th,
td {
    border-collapse: collapse;
    border: 1px solid #000;
    padding: 1em;
}

h1 {
    /* Let's make the title more inviting */
    background-color: red;
    font-family: bold, serif; /* Serif is a bit more spooky */
    text-align: center;
}

h2 {
    background-color: lightsalmon; /* This looks really nice */
}

.center {
    /* I want the portrait to be centered */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
